/*----------------------------------------------------------------------------------------MEDIA NORMAL----------------------------------------------------------------------------*/
body{
  position: absolute!important;
  width: 100%;
}
#url_post{
  display: none;
  margin: 0;
}
.row{
  margin: 0;
  padding: 0;
}
section#screen-1{
  background-image: url("../img/desktop/screen_1/background-bloggers.jpg");
  background-repeat: round;
  width: 100%;
  height: 100vh;
  position: relative;
}
img.desktop-image-screen1{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}
img.mobile-image-screen1{
  display: none;
}
.white-letter{
  color: #fff;
}
.text-content{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 46%;
  margin: auto;
  z-index: 1;
  line-height: 176%;
}
.know-you {
  margin-top: 5%;
  margin-bottom: 8%;
  font-size: 159%;
  font-weight: bold;
  letter-spacing: 7px;
}
section#screen-2{
  background-image: url("../img/desktop/screen_2/background-desk2.jpg");
  background-repeat: round;
  width: 100%;
  height: 100vh;
  position: relative;
}
img.desktop-image-screen2{
  width: 100%;
  height: 100vh;
}
img.mobile-image-screen2{
  display: none;
}
.contact-text {
  position: relative;
  font-size: 450%;
  margin: 6%;
  margin-left: 20%;
  font-weight: bold;
  letter-spacing: 13px;
  line-height: 112%;
}
.roses-image{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.row.second-screen{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
div#formulario{
  position: relative;
  width: 90%;
  height: 100vh;
  display: flex;
  align-items: center;
}
form#formdata{
  width: 100%;
  margin-top: 200px;
  z-index: 1;
}
.form-control {
  height: calc(1.8rem + 2px);
}
.boton{
  margin-top: -2%;
  margin-right: 16%;
  float: right;
  width: 10%;
}
.popup-image{
  width: 100%;
}
.modal-content {
  background-color: transparent;
  border: none;
  display: flex;
  margin: auto;
  width: 100%;
}

.modal {
  width: 100%!important;
  height: 100vh!important;
}
.modal-dialog {
  max-width: 62% !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  width: 100%;
}
.modal-footer, .modal-header{
  border: none;
}
.close {
  color: #fff!important;
  position: absolute!important;
  right: 0!important;
}
img.circle-image {
  position: absolute;
  top: -100%;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 35%;
}
.terms-and-conditions{
  font-size: 12px;
}
@-moz-document url-prefix() {
  input#terms-and-privacy {
  	transform: scale(2)!important;
    left: 0!important;
	}
	.terms-and-conditions {
    font-size: 13px!important;
	}
	.boton {
    margin-top: -3%!important;
    width: 8%!important;
	}	
	.white-letter.terms-and-conditions {
    margin-left: 8%!important;
	}
	.form-check-input {
    margin-top: 0rem!important;
	}
	.form-check {
    padding-left: 0rem!important;
	}
}

html[xmlns*=""] body:last-child .form-control {
  height: 95%!important;
  font-size: .9rem!important;
}

/*----------------------------------------------------------------------------------------MEDIA MOVILES----------------------------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991.98px) {
  section#screen-1{
    background-image: url("../img/mobile/screen_1/background-m.jpg");
    background-repeat: round;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  img.desktop-image-screen1{
    display: none;
  }
  img.mobile-image-screen1{
    display: block;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .text-content {
    width: 97%!important;
    font-size: 193%;
  }
  section#screen-2{
    background-image: url("../img/mobile/screen_2/background-m-2.jpg");
    background-repeat: round;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  img.desktop-image-screen2{
    display: none;
  }
  img.mobile-image-screen2{
    display: block;
    width: 100%;
    height: 100vh;
  }
  .contact-text {
    position: absolute;
    font-size: 670%;
    margin: 8%;
    margin-left: 14%;
    font-weight: bold;
    letter-spacing: 13px;
    line-height: 112%;
  }
  div#formulario {
    position: relative;
    width: 98%;
  }
  .form-group.row{
    margin-bottom: 3%;
  }
  label.col-sm-3.col-lg-3.col-form-label.white-letter,label.col-sm-12.col-lg-11.col-form-label.white-letter {
    font-size: 222%; 
  }
  .form-control {
    height: calc(4rem + 2px);
    font-size: 36px;
  }
  span.valide-email{
    font-size: 36px;
  }
  textarea.form-control {
    height: 200px;
  }
  .boton {
    width: 20%;
  }
  form#formdata{
    margin-top: 329px;
  }
  .modal-dialog {
    max-width: 94%!important;
  }
  img.circle-image {
    top: -100%;
    width: 60%;
  }
  input#terms-and-privacy{
    transform: scale(5);
    left: 0;
  }
  .terms-and-conditions {
    margin-left: 10%;
    font-size: 23px;
  }
  .form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -3.25rem;
  }
  .form-check {
    padding-left: 0;
  }
}

/*----------------------------------------------------------------------------------------MEDIA GRAY----------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .text-content {
    font-size: 81%;
  }
  p.know-you {
    font-size: 146%;
  }
  .white-letter.terms-and-conditions {
    margin-left: 2%;
  }
}

/*----------------------------------------------------------------------------------------MEDIA ORANGE----------------------------------------------------------------------------*/
@media (min-width: 1200px) {
  .text-content {
    font-size: 115%;
  }
  p.know-you {
    font-size: 164%;
  }
  .white-letter.terms-and-conditions {
    margin-left: 2%;
  }
}

/*------------------------------------------------------------------------------LANDSCAPE--------------------------------------------------------------------------*/
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .contenedor {
    /*width: 60%;*/
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  section#screen-1{
    background-image: url("../img/mobile/screen_1/background-m.jpg");
    background-repeat: round;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  img.desktop-image-screen1{
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    /*width: 70%;*/
    width: 100%;
    margin: auto;
    /*height: 28vh;*/
  }
  img.mobile-image-screen1{
    display: none;
  }
  .text-content {
    width: 44%!important;
    font-size: 81%;
  }
  section#screen-2 {
    background-image: url(../img/mobile/screen_2/background-m-2.jpg);
    background-repeat: round;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .row.second-screen {
    top: 0;
  }
  p.know-you {
    letter-spacing: 4px;
  }
  img.desktop-image-screen2{
    display: none;
  }
  img.mobile-image-screen2{
    display: block;
    width: 100%;
    height: 100vh;
  }
  .contact-text {
    font-size: 361%;
    margin-left: 27%;
    margin-top: 2%;
  }
  .roses-image {
    width: 100%;
    left: auto;
    bottom: 0;
  }
  div#formulario {
    position: relative;
    width: 100%;
  }
  .form-group.row {
    margin-bottom: 1%;
  }
  label.col-sm-3.col-lg-3.col-form-label.white-letter, label.col-sm-12.col-lg-11.col-form-label.white-letter {
    font-size: 110%;
  }
  .form-control {
    height: calc(2rem + 2px);
    font-size: 14px;
  }
  textarea.form-control {
    height: auto;
    font-size: 14px;
  }
  .boton{
    margin-top: -3%;
    width: 9%;
  }
  form#formdata {
    margin-top: 150px;
  }
  .modal-dialog {
    max-width: 59%!important;
  }
  img.circle-image {
    top: -100%;
    width: 30%;
  }
  input#terms-and-privacy {
    transform: scale(3);
    left: 0;
  }
  .terms-and-conditions {
    font-size: 15px;
  }
  .form-check-input {
    margin-top: -0.3rem;
  }
}

/*****************************************************************************PANTALLA 4K****************************************************************************/
@media (min-width: 1920px) and (max-width: 2560px) { 
  .text-content {
    font-size: 211%;
  }
  p.know-you {
    font-size: 149%;
  }
  .contact-text {
    font-size: 809%;
  }
  .white-letter.terms-and-conditions {
    margin-left: 1%!important;
  }
}